/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

html {/* overflow-x: hidden;*/ }

body { position: relative; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; padding-bottom: 22px; }
.mobile { display: none; }
body.mobile, body.mobile .mobile { display: inherit; }

h1, h2, h3, h4, h5, h6 { font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1;  }
a * { cursor: pointer; }

.screenreader { position: absolute; left: -9999px; }

.active { visibility: visible !important; }

#main-menu ul, #main-menu li { margin: 0; }
#main-menu a { text-decoration: none; }

#searchform div { position: relative; height: 32px; margin-bottom: 15px; }
#searchform .icon {
	position: absolute;
	left: 4px;
	top: 6px;
	font-size: 20px;
	z-index: 100;
}
#searchform input[type="text"] {
	position: absolute;
	left: 0;
	right: 0;
	width: auto;
	padding: 4px 6px 3px 26px;
	font-size: 18px;
}

#overlay {
	visibility: hidden;
	background-color: black;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1000;
}

#nav-below { border-width: 1px 0px; border-style: solid; padding: 15px 0; margin: 0 0 15px; }
.navigation { overflow: auto; }
.nav-next { float: right; }
.nav-previous { float: left; }

.post, .page { margin: 0 0 15px; }

.post-single .post-title { margin-bottom: 0; }
.post-single .post-utility { padding-top: 5px; margin-bottom: 10px; }
.post-title a, .post-title a:visited { color: #222; }
.post-meta {
	color: #999;
	margin: 0 0 10px;
}
.post-utility { clear: both; padding-top: 14px; font-size: 90%; color: #555; }

.comments-link { float: right; height: 100%; width: 32px; height: 24px; position: relative; }
.comments-link * { position: absolute; right: 0; top: 0; font-size: 20px; text-align: center; width: 100%; }
.comments-link span.icon { cursor: default; }
.comments-num { color: white; font-size: 15px; text-decoration: none; }

.commentlist { list-style-type: none; margin: 0; }
.commentlist .children { margin: 0 0 0 20px; }
.comment-item { padding: 8px 0 8px 8px; border-radius: 10px; }
.comment .reply a { text-decoration: none; }
.commentlist .children .comment { margin-top: 12px; }

.comment-form-comment { padding: 8px; margin: 0; }
.comment-form-comment textarea { width: 100%; padding: 0; margin: 0; }
#commentform span, #commentform input, #commentform label { display: inline; }
#comments .icon { font-size: 70%; margin: 0 6px; }

.comment .avatar {
	position: absolute;
	left: 0;
	top: 0;
	padding: 1px;
	border-width: 1px;
	border-style: solid;
	background-color: white;
}
.comment-author {
	position: relative; 
	padding-left: 65px;
	border-bottom: 1px solid #ccc;
	font-size: 80%;
}

.comment-author a { text-decoration: none; }
.comment-author cite { font-weight: bold; }
.comment-meta, .comment-meta a { color: #777; text-decoration: none; }
.comment-content { padding-left: 65px; padding-top: 10px; min-height: 22px; }
.comment-content p { margin: 20px 0 0; }

.widget-title { border-bottom: 1px dashed #ccc; padding-bottom: 3px; font-size: 24px; line-height: 30px; }

/* #Media Queries
================================================== */

/* Custom Query */
@media only screen and (min-width: 480px){
	body { padding-top: 22px; }

	/* Header styles */
	#header-bg-primary { position: absolute; top: 0; left: 0; right: 0; height: 8px; }
	#header-bg-secondary { position: absolute; top: 8px; left: 0; right: 0; height: 8px; }
	header { margin-bottom: 15px; }

	#blog-title { margin: 0 0; font-size: 45px;}
	#blog-title a, #blog-title a:visited { text-decoration: none; font-weight: bold; letter-spacing: -1px; color: #222; }
	#blog-description { text-indent: 25px; margin: 0 0 8px; color: #aaa; font-size: 25px; letter-spacing: -1px; line-height: 25px; }

	#main-menu {
		height: 30px;
		border: 1px solid #ddd;
		border-radius: 5px;

		font-weight: bold;
	}
	#main-menu > ul {
		white-space: nowrap;
		height: 100%;
	}
	#main-menu > ul > li {
		border-right: 1px solid #ddd;
		height: 100%;
	}

	/* top-level menu items */
	#main-menu li { float: left; position: relative; }
	#main-menu li a { display: block; padding: 0 10px; height: 30px; line-height: 30px; }
	
	/* sub-menus */
	#main-menu ul ul {
		position: absolute;
		visibility: hidden;
		z-index: 100;

		border-radius: 5px;
		background: #fafafa;
		border: 1px solid #bbb;

		box-shadow: 1px 1px 7px #aaa;

	}
	#main-menu > ul ul { font-size: 90%; }

	#main-menu ul ul li { float: none; }

	/* 3 & deeper */
	#main-menu ul ul li ul { left: 100%; top: 0; margin-top: -1px; }

	/* enable visibility */
	#main-menu li:hover > ul { visibility: visible }

	.post-title { border-bottom: 1px solid #777; margin: 0 0 10px; }
	.post-title a { text-decoration: none; }
	
	.sidebar { /*margin-top: 15px;*/ }
	.widget-container { margin-bottom: 22px; }
	.widget-container ul { margin-left: 8px; }

	.comment-form-author,
	.comment-form-email,
	.comment-form-url { line-height: 30px; height: 30px; margin: 2px 0; }

	.comment-form-author input,
	.comment-form-email input,
	.comment-form-url input {
		float: left;
		margin: 0 10px 0 0;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.container { position: relative; }
	header {
		height: 36px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		border-bottom: 1px solid #888;
		
		z-index: 1000;
	}
	/* header effects */
	header.shadow {
		box-shadow: inset 0 -5px 35px rgba(0,0,0,0.3);
	}
	#header-bg-primary {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 36px;
		z-index: 750;
	}

	header #masthead { height: 100%; position: relative; }
	header #branding { margin-right: 70px; overflow: hidden; white-space: nowrap; height: 100%; }
	header #blog-title { line-height: 37px; font-size: 22px; margin: 0 7px; }
	header #blog-title a { text-decoration: none; color: #f4f4f4; font-weight: bold; }
	header #blog-description { display: none; }

	header #access { height: 100%; }
	#show-menu, #show-search {
		display: block;
		width: 32px;
		line-height: 36px;
		text-align: center;

		font-size: 24px;
		color: #f4f4f4;
		position: absolute;
		top: 0;
	}
	#show-menu{ right: 0; }
	#show-search{ right: 32px; }
	#show-menu.active, #show-search.active { color: #222; }

	#main-menu, header #searchform { display: none; }
	#main-menu.active, header #searchform.active { display: block; }

	#main-menu { width: 100%; overflow: hidden; }
	#main-menu ul { width: 100%; position: relative; }
	#main-menu li { height: 36px; margin: 0; border-bottom: 1px solid #ccc; background-color: white; cursor: pointer; }
	#main-menu li.menu-item-with-sub-menu { background: white url(../images/arrow_right.png) right center no-repeat; }
	#main-menu a { display: block; line-height: 36px; padding: 0 5px; text-decoration: none; }
	#main-menu li.menu-item-with-sub-menu a { margin-right: 60px; }

	#main-menu ul ul {
		position: absolute;
		top: 0;
		left: 100%;

		visibility: hidden;
	}

	#overlay.active { z-index: 500;	}

	#searchform {
		position: absolute;
		left: 0;
		right: 0;
		padding: 8px;

		visibility: hidden;
	}

	#searchform div { position: absolute; left: 2%; right: 2%; }
	#searchform .icon { top: 5px; }

	#content { margin-top: 40px; }
	.navigation { margin-bottom: 5px; }

	.post, .page {
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 5px 8px 8px;
	}
	.post-meta { font-size: 90%; }
	.post-title { margin: 0; font-size: 22px; }

	#nav-below { border-top-width: 0px; }

	.comment-form-author,
	.comment-form-email,
	.comment-form-url { line-height: 30px; height: 30px; margin: 2px 8px; }

	.comment-form-author input,
	.comment-form-email input,
	.comment-form-url input {
		float: right;
		margin: 0;
	}

	.commentlist .children { margin: 0 0 0 20px; }
	.commentlist .children .comment { margin-top: 12px; }
	
	.comment-meta {
		position: absolute;
		top: 20px;
		left: 65px;
	}
	.comment-content { padding-top: 18px; padding-left: 0; }

	.sidebar { text-align: center; }
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.icon {	font-family: "WebSymbolsRegular"; }
.icon * { font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
a.icon { text-decoration: none; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}