/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

html { overflow-x: hidden; }

body { position: relative; }
.mobile { display: none; }
body.mobile, body.mobile .mobile { display: inherit; }

.screenreader { position: absolute; left: -9999px; }

.active { visibility: visible !important; }

.menu ul, li { margin: 0; }

#overlay {
	visibility: hidden;
	background-color: black;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1000;
}

.navigation { overflow: auto; }
.nav-next { float: right; }
.nav-previous { float: left; }

.post-meta {
	color: #999;
	margin: 0 0 10px;
}


/* #Media Queries
================================================== */

/* Custom Query */
@media only screen and (min-width: 480px){
	body { padding-top: 22px; }

	/* Header styles */
	#header-bg-primary { position: absolute; top: 0; left: 0; right: 0; height: 8px; }
	#header-bg-secondary { position: absolute; top: 8px; left: 0; right: 0; height: 8px; }
	header { }

	#blog-title { margin-top: 0; }

	.menu {
		height: 30px;
		margin-left: -10px;
		margin-right: -10px;
		border: 1px solid #ddd;
		border-radius: 5px;
	}
	.menu ul {
		/*overflow: hidden;*/
		white-space: nowrap;
	}
	.menu > ul > li {
		border-right: 1px solid #ddd;
	}

	.menu li { float: left;	position: relative; }
	.menu li a { display: block; padding: 4px 10px; }
	
	.menu ul.children { position: absolute; visibility: hidden; background: #bbb; z-index: 100; }
	.menu ul.children li { float: none; }

	.menu ul.children li ul.children { left: 100%; top: 0; }

	.menu li:hover > ul.children { visibility: visible }

	.post-title { border-bottom: 1px solid #777; margin: 25px 0 10px; }
	.post-title a { text-decoration: none; }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.container { position: static; }
	header {
		height: 36px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		border-bottom: 1px solid #888;
		
		z-index: 1000;
	}
	/* header effects */
	header.shadow {
		box-shadow: inset 0 -5px 35px rgba(0,0,0,0.3);
	}
	#header-bg-primary {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 36px;
		z-index: 750;
	}

	header #masthead { height: 100%; }
	header #branding { float: left; height: 100%; }
	header #blog-title { line-height: 36px; font-size: 28px; margin: 0 12px; }
	header #blog-title a { text-decoration: none; color: #222; }
	header #blog-description { display: none; }

	header #access { float: right; height: 100%; }
	#show-menu, #show-search {
		float: right;
		display: block;
		margin: 2px;
		padding: 2px;
	}
	header .menu {
		position: absolute;
		left: 0;
		width: 100%;
		margin-top: 37px;

		visibility: hidden;
	}
	header .menu ul {
		position: absolute;
		width: 100%;
	}
	header .menu li {
		height: 36px;
		margin: 0;

		border-bottom: 1px solid #ccc;

		background: white url(../images/arrow_right.png) right center no-repeat;
	}
	header .menu a {
		display: block;
		line-height: 36px;
		padding: 0 5px;

		text-decoration: none;
	}

	header .menu ul.children {
		position: absolute;
		left: 100%;
		top: 0;

		visibility: hidden;
	}

	#overlay.active { z-index: 500;	}

	#searchform {
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 37px;
		padding: 8px;

		visibility: hidden;
	}
	#searchform label { position: absolute;	left: -9999px; }
	#searchform input[type="text"] { float: left; width: 80%; }
	#searchform input[type="submit"] { float: right; padding: 6px; }

	#content { margin-top: 40px; }
	.navigation { margin-bottom: 5px; }

	.post {
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 5px 8px 8px;
		margin: 0 0 10px;

		font-size: 85%;
	}
	.post-title { margin: 0; }
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
.icon {
    background: url(../images/icon-sprite.png) no-repeat;
}

.icon-archive-dark {
    width: 32px;
    height: 32px;
    background-position: -387px -387px;
}

.icon-archive-light {
    width: 32px;
    height: 32px;
    background-position: -344px -387px;
}

.icon-attachment-dark {
    width: 32px;
    height: 32px;
    background-position: -301px -387px;
}

.icon-attachment-light {
    width: 32px;
    height: 32px;
    background-position: -258px -387px;
}

.icon-bookmark-dark {
    width: 32px;
    height: 32px;
    background-position: -215px -387px;
}

.icon-bookmark-light {
    width: 32px;
    height: 32px;
    background-position: -172px -387px;
}

.icon-brush-dark {
    width: 32px;
    height: 32px;
    background-position: -129px -387px;
}

.icon-brush-light {
    width: 32px;
    height: 32px;
    background-position: -86px -387px;
}

.icon-calc-dark {
    width: 32px;
    height: 32px;
    background-position: -43px -387px;
}

.icon-calc-light {
    width: 32px;
    height: 32px;
    background-position: -0px -387px;
}

.icon-calendar-dark {
    width: 32px;
    height: 32px;
    background-position: -387px -344px;
}

.icon-calendar-light {
    width: 32px;
    height: 32px;
    background-position: -387px -301px;
}

.icon-cancel-dark {
    width: 32px;
    height: 32px;
    background-position: -387px -258px;
}

.icon-cancel-light {
    width: 32px;
    height: 32px;
    background-position: -387px -215px;
}

.icon-chat-dark {
    width: 32px;
    height: 32px;
    background-position: -387px -172px;
}

.icon-chat-light {
    width: 32px;
    height: 32px;
    background-position: -387px -129px;
}

.icon-chats-dark {
    width: 32px;
    height: 32px;
    background-position: -387px -86px;
}

.icon-chats-light {
    width: 32px;
    height: 32px;
    background-position: -387px -43px;
}

.icon-cloud-dark {
    width: 32px;
    height: 32px;
    background-position: -387px -0px;
}

.icon-cloud-light {
    width: 32px;
    height: 32px;
    background-position: -344px -344px;
}

.icon-delete-dark {
    width: 32px;
    height: 32px;
    background-position: -301px -344px;
}

.icon-delete-light {
    width: 32px;
    height: 32px;
    background-position: -258px -344px;
}

.icon-documents-dark {
    width: 32px;
    height: 32px;
    background-position: -215px -344px;
}

.icon-documents-light {
    width: 32px;
    height: 32px;
    background-position: -172px -344px;
}

.icon-down-dark {
    width: 32px;
    height: 32px;
    background-position: -129px -344px;
}

.icon-down-light {
    width: 32px;
    height: 32px;
    background-position: -86px -344px;
}

.icon-down_circle-dark {
    width: 32px;
    height: 32px;
    background-position: -43px -344px;
}

.icon-down_circle-light {
    width: 32px;
    height: 32px;
    background-position: -0px -344px;
}

.icon-download-dark {
    width: 32px;
    height: 32px;
    background-position: -344px -301px;
}

.icon-download-light {
    width: 32px;
    height: 32px;
    background-position: -301px -301px;
}

.icon-edit-dark {
    width: 32px;
    height: 32px;
    background-position: -258px -301px;
}

.icon-edit-light {
    width: 32px;
    height: 32px;
    background-position: -215px -301px;
}

.icon-empty_document-dark {
    width: 32px;
    height: 32px;
    background-position: -172px -301px;
}

.icon-empty_document-light {
    width: 32px;
    height: 32px;
    background-position: -129px -301px;
}

.icon-favorite-dark {
    width: 32px;
    height: 32px;
    background-position: -86px -301px;
}

.icon-favorite-light {
    width: 32px;
    height: 32px;
    background-position: -43px -301px;
}

.icon-folder-dark {
    width: 32px;
    height: 32px;
    background-position: -0px -301px;
}

.icon-folder-light {
    width: 32px;
    height: 32px;
    background-position: -344px -258px;
}

.icon-fullscreen-dark {
    width: 32px;
    height: 32px;
    background-position: -301px -258px;
}

.icon-fullscreen-light {
    width: 32px;
    height: 32px;
    background-position: -258px -258px;
}

.icon-graph-dark {
    width: 32px;
    height: 32px;
    background-position: -215px -258px;
}

.icon-graph-light {
    width: 32px;
    height: 32px;
    background-position: -172px -258px;
}

.icon-grid-dark {
    width: 32px;
    height: 32px;
    background-position: -129px -258px;
}

.icon-grid-light {
    width: 32px;
    height: 32px;
    background-position: -86px -258px;
}

.icon-left-dark {
    width: 32px;
    height: 32px;
    background-position: -43px -258px;
}

.icon-left-light {
    width: 32px;
    height: 32px;
    background-position: -0px -258px;
}

.icon-left_circle-dark {
    width: 32px;
    height: 32px;
    background-position: -344px -215px;
}

.icon-left_circle-light {
    width: 32px;
    height: 32px;
    background-position: -301px -215px;
}

.icon-list-dark {
    width: 32px;
    height: 32px;
    background-position: -258px -215px;
}

.icon-list-light {
    width: 32px;
    height: 32px;
    background-position: -215px -215px;
}

.icon-lock-dark {
    width: 32px;
    height: 32px;
    background-position: -172px -215px;
}

.icon-lock-light {
    width: 32px;
    height: 32px;
    background-position: -129px -215px;
}

.icon-mail-dark {
    width: 32px;
    height: 32px;
    background-position: -86px -215px;
}

.icon-mail-light {
    width: 32px;
    height: 32px;
    background-position: -43px -215px;
}

.icon-minus-dark {
    width: 32px;
    height: 32px;
    background-position: -0px -215px;
}

.icon-minus-light {
    width: 32px;
    height: 32px;
    background-position: -344px -172px;
}

.icon-ok-dark {
    width: 32px;
    height: 32px;
    background-position: -301px -172px;
}

.icon-ok-light {
    width: 32px;
    height: 32px;
    background-position: -258px -172px;
}

.icon-picture-dark {
    width: 32px;
    height: 32px;
    background-position: -215px -172px;
}

.icon-picture-light {
    width: 32px;
    height: 32px;
    background-position: -172px -172px;
}

.icon-pin-dark {
    width: 32px;
    height: 32px;
    background-position: -129px -172px;
}

.icon-pin-light {
    width: 32px;
    height: 32px;
    background-position: -86px -172px;
}

.icon-plus-dark {
    width: 32px;
    height: 32px;
    background-position: -43px -172px;
}

.icon-plus-light {
    width: 32px;
    height: 32px;
    background-position: -0px -172px;
}

.icon-power-dark {
    width: 32px;
    height: 32px;
    background-position: -344px -129px;
}

.icon-power-light {
    width: 32px;
    height: 32px;
    background-position: -301px -129px;
}

.icon-print-dark {
    width: 32px;
    height: 32px;
    background-position: -258px -129px;
}

.icon-print-light {
    width: 32px;
    height: 32px;
    background-position: -215px -129px;
}

.icon-refresh-dark {
    width: 32px;
    height: 32px;
    background-position: -172px -129px;
}

.icon-refresh-light {
    width: 32px;
    height: 32px;
    background-position: -129px -129px;
}

.icon-right-dark {
    width: 32px;
    height: 32px;
    background-position: -86px -129px;
}

.icon-right-light {
    width: 32px;
    height: 32px;
    background-position: -43px -129px;
}

.icon-right_circle-dark {
    width: 32px;
    height: 32px;
    background-position: -0px -129px;
}

.icon-right_circle-light {
    width: 32px;
    height: 32px;
    background-position: -344px -86px;
}

.icon-settings-dark {
    width: 32px;
    height: 32px;
    background-position: -301px -86px;
}

.icon-settings-light {
    width: 32px;
    height: 32px;
    background-position: -258px -86px;
}

.icon-sound-dark {
    width: 32px;
    height: 32px;
    background-position: -215px -86px;
}

.icon-sound-light {
    width: 32px;
    height: 32px;
    background-position: -172px -86px;
}

.icon-sync-dark {
    width: 32px;
    height: 32px;
    background-position: -129px -86px;
}

.icon-sync-light {
    width: 32px;
    height: 32px;
    background-position: -86px -86px;
}

.icon-tag-dark {
    width: 32px;
    height: 32px;
    background-position: -43px -86px;
}

.icon-tag-light {
    width: 32px;
    height: 32px;
    background-position: -0px -86px;
}

.icon-target-dark {
    width: 32px;
    height: 32px;
    background-position: -344px -43px;
}

.icon-target-light {
    width: 32px;
    height: 32px;
    background-position: -301px -43px;
}

.icon-text_document-dark {
    width: 32px;
    height: 32px;
    background-position: -258px -43px;
}

.icon-text_document-light {
    width: 32px;
    height: 32px;
    background-position: -215px -43px;
}

.icon-time-dark {
    width: 32px;
    height: 32px;
    background-position: -172px -43px;
}

.icon-time-light {
    width: 32px;
    height: 32px;
    background-position: -129px -43px;
}

.icon-unlock-dark {
    width: 32px;
    height: 32px;
    background-position: -86px -43px;
}

.icon-unlock-light {
    width: 32px;
    height: 32px;
    background-position: -43px -43px;
}

.icon-up-dark {
    width: 32px;
    height: 32px;
    background-position: -0px -43px;
}

.icon-up-light {
    width: 32px;
    height: 32px;
    background-position: -344px -0px;
}

.icon-up_circle-dark {
    width: 32px;
    height: 32px;
    background-position: -301px -0px;
}

.icon-up_circle-light {
    width: 32px;
    height: 32px;
    background-position: -258px -0px;
}

.icon-user-dark {
    width: 32px;
    height: 32px;
    background-position: -215px -0px;
}

.icon-user-light {
    width: 32px;
    height: 32px;
    background-position: -172px -0px;
}

.icon-users-dark {
    width: 32px;
    height: 32px;
    background-position: -129px -0px;
}

.icon-users-light {
    width: 32px;
    height: 32px;
    background-position: -86px -0px;
}

.icon-zoom-dark {
    width: 32px;
    height: 32px;
    background-position: -43px -0px;
}

.icon-zoom-light {
    width: 32px;
    height: 32px;
    background-position: -0px -0px;
}